<footer class="footer flex-3s wrapper">
  <ul class="column-3s" id="footer-navigation">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/reviews">Reviews</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/order">Order</a>
    </li>
  </ul>
  <ul class="column-3s" id="footer-contact">
    <li>
      <a href="https://www.instagram.com/falafelsunvegan/"><img src="" alt="">Instagram</a>
    </li>
    <li>
      <a href="https://falafelsun.com/"><img src="" alt="">Colchester Website</a>
    </li>
  </ul>
  <ul class="column-3s" id="footer-notes">
    <li>
      <a href="https://www.openstreetmap.org/#map=17/51.73322/0.47377">All map images and dynamic maps were obtained with OpenStreetMap.org</a>
    </li>
  </ul>
</footer>
