<div class="hero profilebar">
  {% if user.username == "admin" %}
    <div class="admin wrapper">
      <p>Access the admin dashboard
        <a href="/line">here</a>
      </p>
    </div>
  {% endif %}
  <div class="profile wrapper">
    {% if user %}
      <p>
        Welcome
        {{user.name}}
        ({{user.username}})
        <a href="/logout">Logout</a>
      </p>
    {% else %}
      <p>
        You can login
        <a href="/login">here</a>
      </p>
    {% endif %}
  </div>
</div>