@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes onOff {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bounce1 {
  0% {
    transform: translateY(-8px);
  }
  40% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bounce2 {
  0% {
    transform: translateY(4px);
  }
  10% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-8px);
  }
}
@keyframes bounce3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-8px);
  }
  90% {
    transform: translateY(4px);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #323232;
  color: #F2F3F4;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1080px) {
  .nav-bar {
    height: 100px;
    padding-bottom: 8px;
  }
  .nav-bar .nav-bar-inner {
    flex-direction: row;
    height: 100%;
  }
  .nav-bar .nav-bar-inner .logo {
    flex: 0 1 100px;
    height: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .nav-bar {
    position: relative;
    padding-bottom: 0;
  }
  .nav-bar .nav-bar-inner {
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  .nav-bar .nav-bar-inner .logo {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    height: 100%;
    opacity: 0.3;
    filter: grayscale(1);
    z-index: -1;
  }
  .nav-bar .nav-bar-inner .logo img {
    padding: 0;
    transform: scale(2.5) translateY(40px);
  }
  .nav-bar .nav-bar-inner .nav-list {
    flex-direction: column;
    margin: 8px;
  }
  .nav-bar .nav-bar-inner .nav-list .nav-button {
    flex: 1 1 0;
    text-align: center;
    padding: 8px;
  }
  .nav-bar .nav-bar-inner .order {
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  .nav-bar .nav-bar-inner .order h1 {
    flex: 1 1 0;
    font-size: 26px;
  }
  .nav-bar .nav-bar-inner .order a {
    padding: 8px;
    display: inline-block;
    width: 60%;
    border-radius: 8px;
    margin: 6px;
    font-size: 28px;
  }
}
.nav-bar {
  position: sticky;
  background: #323232;
  top: 0;
  z-index: 100;
  transition: height 0.3s ease-in-out;
}
.nav-bar a,
.nav-bar div {
  transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}
.nav-bar .nav-bar-inner {
  display: flex;
  align-items: stretch;
}
.nav-bar .logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar .logo img {
  height: 90%;
  padding: 5%;
}
.nav-bar .nav-list {
  flex: 3 1 0;
  display: flex;
  align-items: center;
  margin: 12px;
}
.nav-bar .nav-list .nav-button {
  padding: 20px;
  font-size: 26px;
  margin: 0;
}
.nav-bar .nav-list .nav-button:hover {
  background: #c52432;
}
.nav-bar .order {
  flex: 1 1 0;
  padding: 8px 16px;
  text-align: center;
  margin: 14px;
  display: flex;
  height: 50px;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
}
.nav-bar .order .order-collect,
.nav-bar .order .order-delivery {
  flex: 1 1 0;
  background: #c52432;
  font-size: 26px;
  padding: 6px;
  margin: 2px;
}
.nav-bar .order .order-collect:hover,
.nav-bar .order .order-delivery:hover {
  background: #e15a66;
}
.nav-bar .order h1 {
  flex: 1 1 100%;
  display: block;
  font-size: 24px;
}
.nav-bar.small {
  height: 80px;
}
.nav-bar.small .nav-button {
  padding: 12px;
  margin: 0 8px;
}
.nav-bar.small .order {
  padding: 6px 16px;
  margin: 10px 14px;
}

.hero {
  height: 800px;
  background: white;
  width: 100%;
  display: flex;
  position: relative;
}
.hero.withnav {
  padding-top: 60px;
}

@media screen and (min-width: 1080px) {
  .hero-map {
    visibility: visible;
  }
  .hero-map .location#indoor {
    left: 23.8%;
    top: 25%;
  }
  .hero-map .location#high-street {
    left: 68.6%;
    top: 65%;
  }

  .hero-alternative {
    visibility: hidden;
    position: absolute !important;
    height: 0 !important;
    width: 0 !important;
  }
}
@media screen and (max-width: 1080px) {
  .hero-map {
    visibility: hidden;
    position: absolute !important;
    height: 0 !important;
    width: 0 !important;
  }

  .hero-alternative {
    visibility: visible;
  }
}
@media screen and (min-width: 1366px) {
  .hero-map {
    width: 100% !important;
  }
  .hero-map .location#indoor {
    left: 50%;
    top: 50%;
    transform: translate(-26vw, -14vw);
  }
  .hero-map .location#high-street {
    left: 50%;
    top: 50%;
    transform: translate(19.5vw, 9vw);
  }
}
.hero-map {
  flex: 1 1 0;
  width: 1366px;
  height: 800px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  background-size: cover;
  background-position: center;
}
.hero-map .location {
  position: absolute;
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
}
.hero-map .location a.dot {
  position: absolute;
  top: 0;
  margin: 4px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  content: " ";
  background: #c52432;
  background-image: url("../assets/featureless_logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.hero-map .location .text {
  display: inline-block;
  padding: 10px;
  margin-left: 40px;
  color: #F2F3F4;
}
.hero-map .location .text .details {
  transition: max-height 0;
  max-height: 0;
  overflow: hidden;
}
.hero-map .location:hover {
  background: #323232;
}
.hero-map .location:hover .text {
  color: #F2F3F4;
  background: #c52432;
}
.hero-map .location:hover .text .details {
  max-height: 200px;
  transition: max-height 0.3s ease-out;
}

.hero-alternative {
  flex: 1 1 0;
  height: 800px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #323232;
}
.hero-alternative .location {
  flex: 1 1 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.hero-alternative .location .text {
  flex: 1 1 0;
  display: block;
  padding: 10px;
}
.hero-alternative .location .map-image {
  flex: 3 1 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.hero-alternative .location .directions {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/directions_right.svg");
}
.hero-alternative .location:hover .text {
  background: #c52432;
}

@media screen and (min-width: 1080px) {
  .footer {
    padding: 20px 0;
  }
  .footer li {
    text-decoration: none;
    list-style: none;
  }
}
@media screen and (max-width: 1080px) {
  .footer li {
    text-decoration: none;
    list-style: none;
  }
  .footer .column-3s:nth-child(1) {
    margin-top: 0;
    padding-top: 0;
  }
  .footer .column-3s:nth-child(1) li {
    margin-top: 0;
  }
  .footer #footer-contact li {
    background: none;
  }
  .footer #footer-contact li a {
    text-decoration: underline;
  }
  .footer #footer-navigation {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
  }
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.loading .loading-container {
  flex: 1 1 0;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loading .loading-container > p {
  font-size: 22px;
  color: #323232;
  flex: 1 1 0;
}
.loading .loading-container > p::after {
  content: "...";
}
.loading .loading-balls {
  flex: 1 1 0;
  position: relative;
  margin: auto;
  transform: scale(1.5);
  display: flex;
  flex-direction: row;
}
.loading .loading-balls .ball {
  flex: 1 1 0;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  background-image: url("../assets/featureless_logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loading .loading-balls .ball:nth-child(1) {
  animation-name: bounce;
  animation-delay: 0s;
}
.loading .loading-balls .ball:nth-child(2) {
  animation-name: bounce;
  animation-delay: 0.3s;
}
.loading .loading-balls .ball:nth-child(3) {
  animation-name: bounce;
  animation-delay: 0.6s;
}
.loading .loading-balls .loading-png {
  flex: 1 1 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #323232;
  background-image: url("../assets/floading.gif");
  background-position: center;
  background-size: 150%;
}
.hoverme {
  position: absolute;
  color: #c52432;
  fill: #c52432;
  background-image: url("../assets/hoverme_down.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 400px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease-out 3s;
}

@media screen and (min-width: 1080px) {
  .flex-3s {
    display: flex;
    flex-direction: row;
  }

  .column-3s {
    flex: 1 1 0;
  }
  .column-3s li {
    padding: 8px;
    margin: 4px;
  }
}
@media screen and (max-width: 1080px) {
  .flex-3s {
    display: block;
  }

  .column-3s {
    display: block;
    padding: 10px 0;
  }
  .column-3s li {
    padding: 6px;
    margin: 6px 0;
    background: #e15a66;
  }
}
@media screen and (min-width: 1080px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 1080px) {
  .wrapper {
    width: 100vw;
    margin: auto;
  }
}

/*# sourceMappingURL=master.css.map */
